<!DOCTYPE html>
<!-- 【fragment定義】titleとcontentをパラメータで受け取る -->
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf" th:content="${_csrf.token}" /> <!-- CSRFトークンを設定 -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}" /> <!-- CSRFトークンのヘッダー名を設定 -->
  <!-- 【fragmentインクルード】上にあるfragmentで受け取ったパラメータで置換する -->
  <title th:replace="${title}">(default title)</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: '#3b82f6',
            secondary: '#1d4ed8',
            fluid1: '#a7f3d0',
            fluid2: '#67e8f9'
          }
        }
      }
    }
  </script>
  <style>
    /* カスタムアニメーション */
    @keyframes float {

      0%,
      100% {
        transform: translateY(0px);
      }

      50% {
        transform: translateY(-10px);
      }
    }

    .float-animation {
      animation: float 3s ease-in-out infinite;
    }
  </style>
</head>

<body>
  <!-- 【fragmentインクルード】上にあるfragmentで受け取ったパラメータを挿入する -->
  <div th:insert="${content}"></div>
</body>

</html>